#button {
    background-color: #000;
    border-style: solid;
    border-width: 0.1em;
    border-color: #000;
    color: #fdfdfd;
    border-radius: 0.5em;
    padding: 1em 1.5em 1em 1.5em;
    cursor: pointer;
    
}