@font-face {
  font-family: 'Supercell-Magic';
  src: url('./fonts/Supercell-Magic.eot');
  src: url('./fonts/Supercell-Magic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Supercell-Magic.svg#Supercell-Magic') format('svg'),
        url('./fonts/Supercell-Magic.ttf') format('truetype'),
        url('./fonts/Supercell-Magic.woff') format('woff'),
        url('./fonts/Supercell-Magic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  height: 100%;
}

.MuiAppBar-colorPrimary {
  background-color: #303030;
}


.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #50E8CA;
  height: 93.6vh;
}
  

.superCellText {
  font-family: Supercell-Magic;
}