@font-face {
  font-family: 'Supercell-Magic';
  src: url('./fonts/Supercell-Magic.eot');
  src: url('./fonts/Supercell-Magic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Supercell-Magic.svg#Supercell-Magic') format('svg'),
        url('./fonts/Supercell-Magic.ttf') format('truetype'),
        url('./fonts/Supercell-Magic.woff') format('woff'),
        url('./fonts/Supercell-Magic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  height: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #50E8CA;
  min-height: 93vh;
  overflow: auto;
}
  
.superCellText {
  font-family: Supercell-Magic;
  font-size: 2.5vh;
  color: #fdfdfd;
}

#github {
  color: #fdfdfd;
  height: 4vh;
  width: 4vh;
  text-decoration: none;
  transition-duration: 0.8s;
}

#github:hover {
  color: #cacaca;
  transition-duration: 0.8s;
}

.resultsText {
  color: #3F51B5;
  font-family: "Supercell-Magic";
}

.resultsFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resultsImage {
  height: 5vh;
  width: 5vh;
  margin-right: 1vh;
}

.appBarFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 7vh;
}

/*<----- Material-UI Components ----->*/
.MuiAppBar-colorPrimary {
  background-color: #303030;
}

.MuiFormLabel-root.MuiInputLabel-root {
  font-family: "Supercell-Magic";
  /* font-size: 2.2vh; */
}
.MuiFormLabel-root.Mui-focused.Mui-focused{
  color: #3F51B5;
}
/* 
.MuiInputBase-root.MuiFilledInput-underline.Mui-focused.Mui-focused {
  border-bottom: red; 
} */